<div class="back-header">
    <div class="back-wrapper" (click)="navigateToHome()">
        <img class="chevron" src="../../assets/chevron.png">
        <div class="back">Back to home</div>
    </div>
</div>
<div class="faq-container">
    <div class="accordion-wrapper">
        <mat-accordion multi>
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text">What is a clinical trial? Why should I participate in a clinical trial?</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="text">Clinical trials are studies conducted on humans and are the final step in gaining governmental approval as a treatment method. If you participate in a clinical trial, you may be testing the quality and safety of new devices, drugs, or
                    other treatment methods for specific conditions. By volunteering for a clinical trial, you can help medical researchers learn more about the conditions at hand and improve health care for people in the future. Additionally, clinical
                    trials often offer free treatment (or even paid compensation), access to cutting edge treatments, and more information about your own health.</mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text">Who can participate in a clinical trial? What if I don’t qualify?</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="text">There is a clinical trial for almost everyone, however, most clinical trials have specific inclusion and exclusion criteria; sometimes a trial only accepts volunteers with a specific condition, other times healthy volunteers are needed
                    too. Some trials may need adults, while others require children. Determining exactly which clinical trials you may be able to participate in can be time-consuming and confusing, but our system can make the process significantly easier
                    by sorting through tens of thousands of options to find the best matches for you. <br><br>If there is a specific clinical trial that you believe could benefit your condition more than current treatments, but you don’t meet the requirements
                    to participate, there is still a way to gain access to the treatment. Expanded Access, also called “compassionate use”, is a unique pathway that allows individuals with a serious condition to gain access to an investigational medical
                    product (drug, biologic, or medical device) for treatment outside of a clinical trial if no comparable or satisfactory alternative therapy options are available. If you are interested in this option, please contact us directly and
                    we will do our best to help you gain access.</mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text">Are clinical trials safe? How is my safety protected?</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="text">While clinical trials maintain general ethics, there are also more specific steps that are taken to protect you. These include maintaining a relationship with your normal healthcare provider to ensure you do not receive any conflicting
                    treatments, Informed Consent documentation, and often an Institutional Review Board (IRB). In addition, different phases of clinical trials may have different levels of safety. <br><br>1. Informed Consent documents are required to
                    be signed before participating in a clinical trial. Informed Consent provides you with information about a study and helps you to decide whether to enroll or continue to participate in the study. The informed consent process is intended
                    to protect you, the participant, and should provide enough information for you to understand the benefits, risks, and alternatives to the study. Signing this does not mean you are obligated to participate- you can always exit a study
                    at any time.
                    <br><br>2. Institutional Review Boards (IRBs) are made up of doctors, researchers, and members of the community. These boards ensure a study is ethical and that the participants are protected in all areas. IRBs must monitor all federally
                    supported or conducted clinical studies as well as studies of a drug, biological product, or medical device regulated by the FDA. Through this monitoring, you can expect that research risks are minimized and your rights are protected.
                    <br><br>3. Phases of clinical trials can provide more general information about a trial’s known safety- phase 1 trials are generally testing to see if a treatment is safe and in what doses, while phase 2 trials seek to understand the
                    side effects of new treatments. As treatments pass each phase, they prove their safety to an additional level. By phase 3, treatments are generally considered safe with the exception of adverse or rare reactions.</mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text">What are the benefits and risks of joining a trial?</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="text">There are many reasons that people choose to participate in clinical trials. Often times, volunteers participate purely to advance science and to help those in the future receive better treatments or cures. Others partake in order to gain
                    access to new and innovative treatments that are not yet available to most patients. And some people volunteer in order to access free treatment or to receive financial compensation. Whatever the reason you choose to participate, you
                    are contributing to the advancement of medicine for all, and we thank you. <br><br>Before jumping into a trial, we recommend that you consider all of the risks with participating. While every trial is different, phase 1 trials are
                    the only ones without prior testing on humans. Each additional phase that is completed is additional testing of safety. This doesn’t mean that phase 1 trials are not safe, but rather have not had the chance to be proven safe. Similarly,
                    phase 2 trials have had less testing than phase 3 (the final phase before FDA approval).</mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text">Will I be compensated? How much time does it take to participate in a clinical trial?</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="text">Every trial has its own protocol regarding cost and compensation. Some trials may pay volunteers hundreds or even thousands of dollars, while others may simply cover the cost of treatment. We try to maintain compensation and cost information
                    on each clinical trial, but all cost and compensation information should be confirmed with the clinical trial before you agree to participate.</mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text">Can I continue with my normal treatment?</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="text">Yes. Usually, clinical trials provide treatments to be used in addition to your current medication. This means that many trials will allow you to continue with your current treatment and will work with your current doctor(s) to make sure
                    that you receive the best possible treatment. If a clinical trial will not allow you to continue with your normal medication, they will make this clear before you join the trial.</mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text">Can I quit the trial after starting it?</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="text">Yes, you always maintain the ability to drop out of a trial. There is no contractual obligation to continue to participate if you don’t want to.</mat-panel-description>
            </mat-expansion-panel>
            <mat-card class="panel contact-info">
                <mat-card-title class="text faq-email">
                    For any additional questions please contact us at contact@mydiabetestreatments.com
                </mat-card-title>
            </mat-card>
            <!-- <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>For any additional questions please contact us at contact@mydiabetestreatments.com</mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel> -->
        </mat-accordion>
    </div>
</div>