.feedback {
  width: 100%;
}

.slider {
  margin-top: 15px;
  width: 100%;
}

.feedback-button-dialog {
  background-color: #fc6b59 !important;
  color: white;
  margin-top: 15px;
}

.feedback-button-container {
  display: flex;
  justify-content: center;
}
