<div>
  <form [formGroup]="termsConditionForm">
    <div>
      <mat-label>Please rate your experience from 1-5:</mat-label>
      <mat-slider
        class="slider"
        [max]="5"
        [min]="0"
        [step]="1"
        thumbLabel="true"
        formControlName="stars"
      >
      </mat-slider>
    </div>
    <div>
      <mat-label>Please leave us your feedback:</mat-label>
      <textarea
        matInput
        class="feedback"
        apprearance="outline"
        formControlName="review"
      ></textarea>
    </div>
    <div class="feedback-button-container">
      <button
        mat-stroked-button
        (click)="submitFeedback()"
        class="feedback-button-dialog"
      >
        Submit
      </button>
    </div>
  </form>
</div>
