<div class="header-container">
    <mat-card class="mission-container">
        <h1>Our Mission</h1>
    </mat-card>
</div>
<div class="about-card-container">
    <!-- <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            {{tile.text}}
        </mat-grid-tile>
    </mat-grid-list> -->
    <mat-card class="card">
        <mat-card-content class="content">
            Almost 75% of people are open to participating in clinical trials, but only 7% actually do so. Why? This is the question we asked before founding My Diabetes Treatments. We realized that our relatives, our friends, and our colleagues all had an interest
            in joining a clinical trial, but could never find one that was right for them. They spent hours and hours searching for clinical trials only to find out they didn’t qualify. They asked their doctors for recommendations, but rarely received
            the options they needed. And then they asked us- Why? Why is it so hard to find the right clinical trial?
            <br>
            <br>
            <h4>We didn’t have an answer... So we made one!</h4>
            <br> Our mission is to make finding the right clinical trial a painless process. Simple, fast, accurate, and <strong>free</strong>. Here at My Diabetes Treatments, our focus is on the needs of the patients. Our algorithms match patients with
            the best diabetes clinical trials for them in as few steps as possible. We’ve removed the hours of searching, the hard to understand information, and even provide ranked results to show which trials are most likely to work for you.
        </mat-card-content>
    </mat-card>
</div>
<a href='https://www.freepik.com/photos/office'>Office photo created by freepik - www.freepik.com</a>