<div class="back-header">
    <div class="back-wrapper" (click)="navigateToHome()">
        <img class="chevron" src="../../../assets/chevron.png">
        <div class="back">Back to home</div>
    </div>
</div>
<form class="example-form container" [formGroup]="conditionForm">
    <mat-card *ngIf="!loading" class="component-card-container">
        <mat-card-content class="content-wrapper">
            <p>
                <ngb-progressbar class="progress-bar" type="success" [value]="0" [striped]="true" [animated]="true"><i>0%</i></ngb-progressbar>
            </p>
            <div class="input-container">
                <div class="title">What condition would you like to search for today?</div>
                <mat-form-field class="selector" appearance="outline">
                    <mat-label>Condition</mat-label>
                    <mat-select formControlName="condition">
                        <mat-option [value]="condition" *ngFor="let condition of conditions">
                            {{ condition }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button [disabled]="!conditionForm.valid" type="button" (click)="searchTrials()" class="submit-btn btn-style">
                    Continue
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</form>
<app-loader *ngIf="loading"></app-loader>