<div>
  <button mat-stroked-button class="feedback-button" (click)="openFeedback()">
    Feedback
  </button>
  <div class="how-we-help">
    <h4>Searching for clinical trials is a pain. Let us find them for you.</h4>
  </div>
  <div class="body-wrapper">
    <p class="welcome-body">
      Don’t spend hours or even days looking for a clinical trial that
      eventually won’t accept you. At My Diabetes Treatments, we’ll search over
      15,000 diabetes trials to find the best trials for YOU, and we won’t
      charge you a dime. Our goal is to help patients access innovative new
      treatments, and help those treatments become available for all.
    </p>
  </div>
</div>
<mat-chip-list class="search-wrapper">
  <mat-chip class="search-btn" (click)="openTermsDialog()">
    Search Clinical Trials Now
  </mat-chip>
</mat-chip-list>
<div class="lower-container">
  <div class="card-container">
    <mat-card class="card-content">
      <div class="content-wrapper">
        <div class="icon-container">
          <img src="../../assets/medical.png" />
        </div>
        <div class="card-title-container">
          <mat-card-title class="title"
            >Access Cutting-Edge Treatments</mat-card-title
          >
        </div>
        <mat-card-content class="content-text">
          Clinical trials are new and experimental treatments that are trying to
          be approved for widespread use. By participating in clinical trials,
          you can access the newest innovations in potential treatments.
          Clinical trials usually provide a very high quality of care, too.
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card-content center-card">
      <div class="content-wrapper">
        <div class="icon-container">
          <img src="../../assets/piggy-bank.png" />
        </div>
        <div class="card-title-container">
          <mat-card-title class="title"
            >Get Paid For Your Participation</mat-card-title
          >
        </div>
        <mat-card-content class="content-text">
          Medical treatment can be expensive, but most clinical trials will
          provide thousands of dollars of free medical treatment during the
          trial. Many will even PAY YOU to participate- some even pay $1,000s!
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card-content">
      <div class="content-wrapper">
        <div class="icon-container">
          <img src="../../assets/lab.png" />
        </div>
        <div class="card-title-container">
          <mat-card-title class="title"
            >Advance Research & Medical Treatments</mat-card-title
          >
        </div>
        <mat-card-content class="content-text">
          Before any treatment is approved for widespread use, it must go
          through clinical trials to show it works. Without volunteers, new
          treatments could never be approved. Millions of dollars and years of
          work on research can go to waste. By joining a clinical trial, you are
          helping future patients gain new treatments and healthier lives.
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
<div>
  Icons made by
  <a href="https://www.flaticon.com/authors/prettycons" title="prettycons"
    >prettycons</a
  >
  from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>
