<div>
  <button mat-stroked-button class="feedback-button" (click)="openFeedback()">
    Feedback
  </button>
  <div class="how-we-help">
    <h4>Searching for research studies? Let us help.</h4>
  </div>
  <div class="body-wrapper">
    <p class="welcome-body">
      Interested in joining diabetes research or want to learn more? Click below. We’ll search 15,000 studies to find the best ones for you. Join us in helping to create new and innovative treatments and cures.
    </p>
  </div>
</div>
<mat-chip-list class="search-wrapper">
  <mat-chip class="search-btn" (click)="openTermsDialog()">
    Search Now
  </mat-chip>
</mat-chip-list>
<div class="lower-container">
  <div class="card-container">
    <mat-card class="card-content">
      <div class="content-wrapper">
        <div class="icon-container">
          <img src="../../assets/medical.png" />
        </div>
        <div class="card-title-container">
          <mat-card-title class="title"
            >Access Cutting-Edge Treatments</mat-card-title
          >
        </div>
        <mat-card-content class="content-text">
          Research studies can be new and experimental treatments hoping to be approved for widespread use. By choosing to join one, you can access new innovations in treatments. Research studies generally provide a very high quality of care, too.
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card-content center-card">
      <div class="content-wrapper">
        <div class="icon-container">
          <img src="../../assets/piggy-bank.png" />
        </div>
        <div class="card-title-container">
          <mat-card-title class="title"
            >Get Paid to Participate</mat-card-title
          >
        </div>
        <mat-card-content class="content-text">
          Medical treatment can be expensive, but most research studies provide thousands of dollars of free medical treatment during the study. And most will even pay you to participate in the research!
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card-content">
      <div class="content-wrapper">
        <div class="icon-container">
          <img src="../../assets/lab.png" />
        </div>
        <div class="card-title-container">
          <mat-card-title class="title"
            >Help Find a Cure</mat-card-title
          >
        </div>
        <mat-card-content class="content-text">
          Before a new treatment is approved for widespread use, it goes through research studies. Without volunteers like you, new treatments would never be approved. By joining a study, you help improve the future of treatments.
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
<div>
  Icons made by
  <a href="https://www.flaticon.com/authors/prettycons" title="prettycons"
    >prettycons</a
  >
  from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>
